/* === GERAL === */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* o conteudo é contado a partir da borda e não mais do conteudo */
}

:root {
  --primary-color: #00856f;
  --headline: #061800;
  --paragraph: #384633;
  --white: #ededed;
  --brand-beige: #fffaf1;
  --brand-light: #dce9e2;

  font-size: 62, 5%; /* 1rem = 10px */

  --nav-height: 7.2rem;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: "Dm Sans";
  font-family: 1.6rem;

  text-align: center;

  overflow: overlay;
}

.wrapper {
  width: 37.5rem;
  margin-inline: auto;
  padding-inline: 2.4rem;
}

ul {
  list-style: none;
}

/* === HEADER === */

header {
  margin-top: calc(4.1rem + var(--nav-height));
}

header::before {
  /* before significa antes do conteúdo */
  content: "";
  width: 100%;
  height: calc(108rem + var(--nav-height));
  background-color: var(--brand-light);
  display: block;

  position: absolute;
  top: 0;
  left: 0;
  z-index: -1; /* eixo z -1 enviando a caixa para trás do conteudo */
}

header h4 {
  font-size: 1.4rem;
  color: var(--primary-color);
  margin-bottom: 1.6rem;
}

header h1 {
  font-size: 3.4rem;
  color: var(--headline);
  line-height: 130%;
  margin-bottom: 2.4rem;
}

header p {
  font-size: 1.8rem;
  line-height: 150%;
  font-weight: 400;
  color: var(--paragraph);
  margin-bottom: 3.2rem;
}

header button {
  background-color: var(--primary-color);
  border: none;
  border-radius: 4rem;
  margin-bottom: 6rem;

  height: 6.2rem;
  width: 26.3rem;

  color: var(--white);
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 700;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;

  margin-right: auto; /* Trocar para essa propriedade margin-inline: auto; */
  margin-left: auto; /* apagar, a propriedade de cima substitui essa */
}

header img {
  display: block;
  margin-inline: auto;
  width: 26.4rem;
  object-position: 0 2rem;
}

.stats {
  width: 32.7rem;
  padding-block: 4rem; /* inserindo padding em cima e em baixo do bloco*/
  margin-inline: auto;

  background-color: var(--brand-beige);
  border: 1px solid var(--brand-light);
  border-radius: 0.6rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 6rem; /* espaçamento entre os elementos filhos */
}

.stat h3 {
  font-size: 4.8rem;
  color: var(--headline);
  line-height: 130%;
  margin-bottom: 0.4rem;
}

.stat p {
  font-size: 1.6rem;
  color: var(--primary-color);
  line-height: 150%;
  margin: 0;
}

/* === NAVIGATION === */

nav {
  display: flex;

  height: var(--nav-height);

  position: fixed;
  top: 0;
  width: 100vw;

  z-index: 100;
}

nav .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav.scroll {
  background: var(--primary-color);
}

nav.scroll .logo path {
  fill: #fff;
}

nav.scroll button path {
  stroke: #fff;
}

nav button {
  background: none;
  border: none;
  cursor: pointer;
}

/* === MENU-EXPANDED === */
body.menu-expanded {
  overflow: hidden;
}

body.menu-expanded > :not(nav) {
  visibility: hidden;
}

.menu,
.close-menu,
body.menu-expanded .open-menu {
  opacity: 0;
  visibility: hidden;
}

body.menu-expanded .menu,
body.menu-expanded .close-menu {
  opacity: 1;
  visibility: visible;
}

.menu {
  transform: translateY(100%);
}

body.menu-expanded .menu {
  position: fixed;
  top: 0;
  left: 0;
  background: var(--primary-color);

  width: 100vw;
  height: 100vh;

  padding-top: var(--nav-height);

  transition: transform 300ms;
  transform: translateY(0);
}

.menu ul:nth-child(1) {
  display: flex;
  flex-direction: column;
  gap: 4.8rem;

  margin-top: 6rem;

  font-weight: 700;
  font-size: 2.4rem;
  line-height: 3.1rem;
}

.menu ul li a {
  color: #fff;
  text-decoration: none;
}

.menu .button {
  background: #fff;
  border-radius: 4rem;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.3rem;
  text-transform: uppercase;
  text-decoration: none;

  color: var(--primary-color);

  display: inline-block;
  padding: 16px 32px;

  margin-top: 4.8rem;
  margin-bottom: 8rem;
}

.social-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3.2rem;
}

body.menu-expanded .logo,
body.menu-expanded button {
  position: relative;
  z-index: 100;
}

body.menu-expanded .logo path {
  fill: #fff;
}

body.menu-expanded button path {
  stroke: #fff;
}

/* === SERVICES === */

#services header h4 {
  font-size: 1.4rem;
  line-height: 150%;
  letter-spacing: 0.08rem;

  color: var(--primary-color);
  text-transform: uppercase;

  margin-bottom: 1.6rem;
}

#services header h2 {
  font-size: 3rem;
  line-height: 3.9rem;

  color: var(--headline);

  margin-bottom: 6rem;
}

.card {
  padding: 2.4rem;
  text-align: left;
}
